<a id="class_{clazz}_ability_{name}"><table class="bordered">
    <tr class="center bordered">
        <td class="center bordered"><i>{name}</i></td>
        <td class="center bordered">{action}</td>
        <td class="center bordered">Cost: {cost}</td>
        <td class="center bordered">Range: {range}</td>
        <td class="center bordered">Duration: {duration}</td>
    </tr>
    <tr class="center bordered">
        <td class="left bordered" colspan="5">{description}</td>
    </tr>
    <tr class="center bordered">
        <td class="left bordered" colspan="5">Tags: {tags}</td>
    </tr>
</table></a>