<a id="class_{clazz}_ability_{name}"><table class="visible-table bordered">
    <tr class="center bordered">
        <td class="center bordered"><i><a href="/api#class_{clazz}">{name}</a></i></td>
        <td class="center bordered">{action}</td>
        <td class="center bordered">Cost: {cost}</td>
        <td class="center bordered">Range: {range}</td>
        <td class="center bordered">Duration: {duration}</td>
    </tr>
    <tr class="center bordered">
        <td class="left bordered" colspan="5">{description}</td>
    </tr>
    <tr class="center bordered">
        <td class="left bordered" colspan="5">Tags: {tags}</td>
    </tr>
</table></a>

<table id="table_class_{clazz}_ability_{name}" class="hidden-table">
    <tr class="center black-bordered">
        <td class="center black-bordered"><i>{name}</i></td>
        <td class="center black-bordered">{action}</td>
        <td class="center black-bordered">Cost: {cost}</td>
        <td class="center black-bordered">Range: {range}</td>
        <td class="center black-bordered">Duration: {duration}</td>
    </tr>
    <tr class="center black-bordered">
        <td class="left black-bordered" colspan="5">{hidden_description}</td>
    </tr>
    <tr class="center black-bordered">
        <td class="left black-bordered" colspan="5">Tags: {tags}</td>
    </tr>
</table>

<div id="pretty_table_class_{clazz}_ability_{name}" class="hidden-table">{pretty_table}</div>

<button class="copy-button" onclick="copy_ability('table_class_{clazz}_ability_{name}')">Copy for Roll20</button>
<button class="copy-button" onclick="copy_ability('pretty_table_class_{clazz}_ability_{name}')">Copy for Discord</button>
<br>