<!doctype html>
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Barbs Rulebook</title>
    <meta name="description" content="Barbs Rulebook">
    <link rel="stylesheet" href="style.css">
</head>

<body>
<div class="img-container-l1">
    <div class="img-container-l2 blended">
        <img src="https://i.imgur.com/gpBumlT.png" alt="logo">
    </div>
</div>

<div class="grid-container">
    <div id="sidebar" class="sidenav">
        <a href="#Foreword">Foreword</a>
        <a href="/">Barbs Rulebook</a>
        <a href="#Character Sheet">Character Sheet</a>
        <a href="#General">General</a>
        <div class="sidenav-subsection">
            <a href="#Identification">Identification</a>
            <a href="#Parameters">Ability/Item Parameters</a>
            <a href="#Persistent Effects">Persistent Effects</a>
            <a href="#Crit Rolls">Crit Rolls</a>
            <a href="#Effectiveness">Buff/Enchant Effectiveness</a>
        </div>
        <a href="#Items">Items</a>
        <div class="sidenav-subsection">
            <a href="#What Items Apply When">What Items Apply When</a>
            <a href="#Auto Attacks">Auto-attacks</a>
            <a href="#Defining an Item">Defining an Item</a>
        </div>
        <a href="#Class Abilities">Class Abilities</a>
        <div class="sidenav-subsection">
            <a href="#Extra">Extra</a>
            {classes_nav}
        </div>
        <a href="#Pure API">Pure API Usage</a>
    </div>
</div>

<div id="main">
    <section id="pageContent">
        <article>
            <a id="Foreword">
                <h2>Foreword</h2>
            </a>
            <p>The entirety of the Barbs API is stored <a href="https://github.com/Harry73/Barbs">externally here</a>. If you change something on the “API Scripts for Barbs” page on Roll20, you should let me know, or else I will inevitably overwrite your change.</p>
            <br>
            <p>There is a ton of hard-coded information in the Barbs API. This means that every item must be manually created and added to a master list of items. Every ability must be manually implemented for the API to handle it properly. If you want to add something yourself, you may, but see the note above. If you want a particular item or ability added and don’t want to do it yourself, talk to me.</p>
        </article>

        <article>
            <a id="Character Sheet">
                <h2>Character Sheet</h2>
            </a>
            <p>As in a standard DnD 5e campaign, there is a “Character Sheet” tab on your character’s page on Roll20.</p>
            <br>
            <a id="Characteristics Tab">
                <h3>Characteristics Tab</h3>
            </a>
            <p>This tab contains a variety of miscellaneous things.</p>
            <ul>
                <li>The top section contains fields for the general description of your character.</li>
                <li>On the left are your base Health, Stamina, Mana, and Speed. These are based <b>solely</b> on your attribute values; they do not include boosts from your items.</li>
                <li>
                    The middle right has four buttons for rolls that don't fall into any other category.
                    <ul>
                        <li class="padt">Initiative - An initiative roll is a d100 plus Agility, plus any bonuses from items. This button performs this roll.</li>
                        <li>List Effects - This button will print a list of current buffs and effects on your character that the API is aware of. These effects normally come from using class abilities.</li>
                        <li>Death Save - This rolls a plain d100. When you are down, you have 100 "downed health". Each time you roll a death save, the result is subtracted from this 100 downed health. If you reach 0 downed health, you die.</li>
                        <li>Take Damage - This is discussed more below.</li>
                        <li>Condition Resist - This is discussed more below.</li>
                        <li>Concentration - A concentration check is a d100 plus any bonuses from items. This button performs this roll.</li>
                    </ul>
                </li>
                <li>The bottom right shows your current level, based on points placed in attributes, skills, and class abilities. There is a place to track combat EXP, which is earned as you fight and kill monsters. Every 100 points of combat EXP grants 1 AP to be spent on attributes.</li>
            </ul>
            <br>
            <a id="Take Damage">
                <h4>Take Damage</h4>
            </a>
            <p>When your character is taking damage, this damage is normally reduced by your AC and Magic Resistance (MR). Both of these can be boosted by items and buffs, and can be reduced the the incoming attack's AC penetration (AC pen) and magic penetration (MR pen). The Take Damage button helps simplify the calculations necessary by applying your AC and MR, reduced by AC and MR pen, to an incoming damage amount.</p>
            <p>When you use this button, you will be asked how much damage of each type you are taking - physical, psychic, and pe-element. Specify how much damage of each type you are taking, or 0 if none. The amount of damage you specify can be an equation, e.g. "10+20+30". If the attack has AC pen, add a bar | to the physical damage you take, followed by the AC pen. For example, specifying "50|20" for physical damage indicates that you are taking 50 physical damage and the attack has 20 AC pen. Use the same pattern for MR pen for each elemental type. For example, "60|30" ice damage indicates that you are taking 60 damage and the attack has 30% ice magic pen. The API will calculate your AC and MRs, reduce them by the AC and MR pen, and apply the end result to the given damage values. The amount of damage of each type is displayed, along with the total damage you take from the attack.</p>
            <br>
            <a id="Condition Resist">
                <h4>Condition Resist</h4>
            </a>
            <p>When an attack inflicts a condition on your character, you have a chance to resist the condition and avoid its effects. This is done with a Condition Resist (CR) check. Items and buffs may increase your CR against specific types of conditions. The Condition Resist button helps simplify this. When used, you will be asked what condition you are attempting to resist. Select one, or pick "General" if your check is not for any particular condition. The API will calculate your resistance against the given condition, accounting for items and ongoing buffs. The API will do a d100 with a threshold (d100cs>threshold), where the threshold is based on your resistance to the condition. If your d100 roll is greater than or equal to the threshold, you succeed, and the roll will be outlined in green. Otherwise, you fail and are inflicted with the condition.</p>
            <br>
            <a id="Attributes Tab">
                <h3>Attributes Tab</h3>
            </a>
            <p>Barbs has 20 basic attributes, which provide the basis for statistics, skills, and abilities. Each of the 20 attributes is listed on this tab. Each attribute can range from -10 to +20. Each of these attributes can be rolled by clicking the dice button next to the attribute. This rolls a d100 plus the attribute's value.</p>
            <br>
            <a id="Stats Tab">
                <h3>Stats Tab</h3>
            </a>
            <p>The "Stats" page shows your stats based <b>solely</b> on your Attribute values. These are updated automatically as your Attributes update. Each of these stats can be rolled by clicking the dice button next to the stat. Rolling a stat will account for equipped items and class abilities. Rolling a stat like Health or Buff Limit will print your boosted value for this stat. Rolling a stat like Critical Hit Chance will perform a d100; a value greater than or equal to <span class="monospace">100 - Critical Hit Chance + 1</span> would be a critical hit. Rolling a regeneration stat will show how much Health/Stamina/Mana you regenerate on a short rest.</p>
            <br>
            <p>Notable stats:</p>
            <ul>
                <li>AC - Rolling the AC stat has the same effect as the <a href="#Take Damage">"Take Damage"</a> button on the Characteristics Tab.</li>
                <li>Magic Resist - Rolling the Magic Resist stat has the same effect as the <a href="#Take Damage">"Take Damage"</a> button on the Characteristics Tab.</li>
                <li>Condition Resist - Rolling the Condition Resist stat has the same effect as the <a href="#Condition Resist">Condition Resist</a> button on the Characteristics Tab.</li>
                <li>Critical Hit Chance - Crit chance is normally rolled and displayed with attacks that can crit. If you do need to roll Critical Hit Chance separately for some reason, though, you can use this button.</li>
            </ul>
            <br>
            <a id="Skills Tab">
                <h3>Skills Tab</h3>
            </a>
            <p>This tab lets you create a list of Skills your character has. To add a new skill, use the "+Add" button in the bottom left. To remove or re-order skills, use the "Modify" button in the bottom right. To add a skill, fill out two things: the skill name and the number of AP you have put into the skill. The skill name must match the name in the rulebook exactly. The "Rank" and "Base Bonus" fields will update automatically as the "Points" field is updated. If they do not update, you likely have the skill name wrong.</p>
            <p>If you have items or buffs that modify a skill, they will <b>not</b> be reflected in the "Base Bonus" field. When you roll the skill, however, by clicking the dice button next to the skill, bonuses from items and buffs will be included.</p>
            <br>
            <a id="Class Abilities Tab">
                <h3>Class Abilities Tab</h3>
            </a>
            <p>This tab lets you create a list Class Abilities your character has. To add a new ability, use the "+Add" button in the bottom left. To remove or re-order abilities, use the "Modify" button int he bottom right. To add an ability, fill out three things: the class the ability is from, the ability name, and the tier of the ability (1-4). The class and ability name must match the rulebook exactly. Each ability has a "parameters" text box below. This box's usage is discussed in the <a href="#Parameters">Parameters Section</a>.</p>
            <br>
            <a id="Equipment Tab">
                <h3>Equipment Tab</h3>
            </a>
            <p>A character has 10 equipment slots. The text boxes on this tab are meant to hold the names of the items you have equipped in each slot.</p>
            <br>
            <a id="Inventory Tab">
                <h3>Inventory Tab</h3>
            </a>
            <p>The inventory tab on Barbs character sheets is a direct rip from the D&D 5E character sheet. This tab has no bearing on the API. Use it as you see fit.</p>
            <br>
            <a id="Filling out your character sheet">
                <h3>Filling out your character sheet</h3>
            </a>
            <p>You should fill out the following:</p>
            <ul>
                <li class="spaced"><b>Attributes</b> – These are 1-1 with column D on your Google Sheets character sheet.</li>
                <li class="spaced"><b>Skills</b> – Specify the proper name of each skill and the number of AP you have put into each ability. The sheet will update the rank and bonus for each skill when you add points. If it does not update, you likely have the skill name wrong.</li>
                <li class="spaced"><b>Class Abilities</b> – The class name and ability name are required for each ability. Additionally include the tier level (0-4) if you want your level on the Characteristics page to be accurate. The parameter lines can be left blank for now. They are discussed in the <a href="#Parameters">Parameters section</a>.</li>
                <li class="spaced"><b>Equipment</b> – See the section on <a href="#Items">items</a> for how to define items.</li>
            </ul>
        </article>

        <article>
            <a id="General">
                <h2>General</h2>
            </a>
            <a id="Identification">
                <h3>Identification</h3>
            </a>
            <p>The API identifies you by who you are speaking as in Roll20 chat. If you need to specify a character for an ability, you can use their first name or their full name. A complete list of how each character can be identified <a href="https://github.com/Harry73/Barbs/blob/bb0154e3cf720caacae990334ece9a5192d5410a/barbs_character_sheet/components.js#L159">can be found here</a>.</p>
            <br>
            <a id="Parameters">
                <h3>Ability/Item Parameters</h3>
            </a>
            <p>Many abilities require "parameters", extra information that you must specify for the ability to work correctly. Parameters for an ability are specified in the line below the ability on your character sheet. Multiple parameters for one ability can be specified, and are separated by <b>semicolons</b>. Parameters usually take the form "keyword: value(s)". The colon is optional. The parameters that each class ability may require are listed in the <a href="#Class Abilities">Class Abilities section</a>. An example set of parameters for an ability may look like this:</p>
            <ul>
                <li><span class="monospace">distance 100; spotting 8</span></li>
            </ul>
            <br>
            <a id="Persistent Effects">
                <h3>Buffs and Persistent Effects</h3>
            </a>
            <p>Buffs or persistent effects from abilities, like a damage-multiplying buff that lasts 1 minute, will be included in rolls automatically. The effect will be removed automatically when the turn order progresses through the required number of rounds. Effects like empowers, which only apply to the "next attack," will be removed after they are applied to an attack once.</p>
            <p>You can see a list of effects currently on your character using the "List Effects" button on the Characteristics tab of your character sheet. The API will print effects currently on your character, along with a button to let you select one to remove. If you need to remove an effect, use this button and select the effect you want to remove. The API will send a message if the effect was successfully removed.</p>
            <a id="Crit Rolls">
                <h3>Crit Rolls</h3>
            </a>
            <p>Crit rolls appear a little oddly. A negative crit roll is failure. Zero and above is a success. If a crit roll is a success, the entire crit roll section in chat will be outlined in green. If you hover over the crit roll, the calculation is "what you rolled" minus "the threshold you needed to meet for this to be a crit". The crit threshold is adjusted based on your attributes, items, and abilities’ effects. If you crit, your crit damage modifier is factored into the roll's damage automatically.</p>
            <br>
            <a id="Effectiveness">
                <h3>Effectiveness</h3>
            </a>
            <p>Barbs has concepts called "buff effectiveness" and "enchant effectiveness". These improve the strength of a buff or enchantment. For example, if you have 50% buff efficiency, a buff that normally grants 60% increased damage should instead grant 90% increased damage.</p>
            <p><b>You do not need to specify buff and enchant effectiveness manually</b>. If your items give you effectiveness, it will be calculated and applied automatically when you cast buffing or enchanting abilities. If, however, you need to specify additional buff or enchant effectiveness for some reason, you can add a parameter to do so. For either buff or enchant effectiveness, specify the "effectiveness" parameter, followed by your buff or enchant effectiveness as a percentage.</p>
            <ul>
                <li><span class="monospace">effectiveness 50%</span> - Indicates that the buffing/enchanting ability should be cast with 50% <b>increased</b> buff/enchant effectiveness.</li>
                <li><span class="monospace">effectiveness -25%</span> - Indicates that the buffing/enchanting ability should be cast with 25% <b>decreased</b> buff/enchant effectiveness.</li>
            </ul>
            <p>A more effective buff or enchant has the following properties:</p>
            <ul>
                <li>Damage granted by the buff will have increased damage dice.</li>
                <li>Multipliers granted by the buff will be increased.</li>
                <li>Crit chance or crit damage mod granted by the buff will be increased.</li>
                <li>Stat and skill bonuses granted by the buff will be increased.</li>
                <li>Initiative and concentration bonuses granted by the buff will be increased.</li>
                <li>Resistances to specific conditions granted by the buff will be increased.</li>
                <li>Resistances to elemental magic types granted by the buff will be increased.</li>
            </ul>
        </article>

        <article>
            <a id="Items">
                <h2>Items</h2>
            </a>

            <a id="What Items Apply When"><h3>What Items Apply When</h3></a>
            <p>Regardless of the type of attack you are doing, your head, body, hands, feet, rings, and belt will all be applied. When the main hand and offhand weapons are applied varies.</p>
            <ul>
                <li>If you are doing an auto-attack with your main hand weapon, only your main hand weapon's affixes will be included in the attack. Your offhand weapon will not be included.</li>
                <li>If you are doing an auto-attack with your offhand weapon, only your offhand weapon's affixes will be included in the attack. Your main hand weapon will not be included.</li>
                <li>If you are using a physical class ability, only your main hand weapon will be applied to the attack by default. If you want to instead perform the attack with your offhand weapon, add the "offhand" parameter to the ability, and only your offhand weapon will be applied. If the ability is explicitly a dual-wielding ability, add the "dual_wield" parameter to the ability, and both weapons will be applied.</li>
                <li>If you are using a magic, psychic, or healing class ability, both main hand and offhand weapons will be applied.</li>
            </ul>
            <br>

            <a id="Auto Attacks"><h3>Auto Attacks</h3></a>
            <p>You can perform an auto-attack with an item by clicking the roll button on the “Equipment” tab of your character sheet. If other abilities you have used require you to specify parameters, you can do so in the boxes below the main hand and offhand slots. Parameters here behave the same as parameters for classes.</p>
            <br>

            <a id="Defining an Item"><h3>Defining an Item</h3></a>
            <p>Originally, on the Items tab of your character sheet, you would only put the name of the item in each text box. The Barbs API scripts contain a big list of items, and looked through this list for an item with a name matching what you entered. This requires hardcoding every item into the API scripts. While existing items using this paradigm will continue to work, the methodology for defining items is <b>deprecated</b>. Do not hardcode any more items into API scripts.</p>
            <p>For any new items, you should define all affixes for the item in the corresponding text box on your character sheet. The API will then "construct" the item based on what you include in the text box for the item. This way, you can easily see and change what effects your items should have, and it's on players, rather than me, to define their items.</p>
            <br>
            <p>To tell the API to build your item from what you enter, your item should start with "construct;". Follow that with the item name, and then another semicolon. The item name can be whatever you want.</p>
            <ul>
                <li><span class="monospace">construct; My New Item;</span></li>
            </ul>
            <p>Following this, you specify each affix on the item, implicit and explicit, separated by semicolons. Each affix is identified by some keyword, and then the keyword is followed by values. How you should define each kind of affix is described below. Any field in &lt;angled brackets&gt; is a placeholder that should be replaced with some real value.</p>
            <ul>
                <li>Base damage - <span class="monospace">base: &lt;dice&gt; &lt;damage type&gt; &lt;scaling stat&gt;</span>
                    <ul>
                        <li>For weapons, you need to specify the damage the weapon deals for auto-attacks with this affix.</li>
                        <li>"dice" can be any Roll20 dice expression, e.g. d10</li>
                        <li>"damage type" must be one of the following: physical, psychic, healing, fire, water, earth, air, ice, lightning, light, dark</li>
                        <li>"scaling stat" is a three-letter acronym for the attribute the weapon scales off of, e.g. DEX or STR. If the weapon does not scale off any stat, like daggers or unarmed weapons, use "none".</li>
                    </ul>
                </li>

                <li>Item type - <span class="monospace">type: &lt;item type&gt;</span>
                    <ul>
                        <li>Specifying the type of an item is not strictly required, but may be necessary in the future for certain effects.</li>
                        <li>"item type" must be one of the following: accessory, axe, armor, blunt, bullets, crossbow, heavy throwing, javelin, light throwing, longblade, longbow, orb, polearm, shield, shortblade, unarmed, wand</li>
                    </ul>
                </li>

                <li>Initiative bonus - <span class="monospace">initiative: &lt;bonus&gt;</span>
                    <ul>
                        <li>"bonus" must be an integer</li>
                    </ul>
                </li>

                <li>Concentration bonus - <span class="monospace">concentration: &lt;bonus&gt;</span>
                    <ul>
                        <li>"bonus" must be an integer</li>
                    </ul>
                </li>

                <li>Buff effectiveness - <span class="monospace">buff effectiveness: &lt;bonus&gt;</span>
                    <ul>
                        <li>"bonus" must be an integer</li>
                    </ul>
                </li>

                <li>Enchant effectiveness - <span class="monospace">enchant effectiveness: &lt;bonus&gt;</span>
                    <ul>
                        <li>"bonus" must be an integer</li>
                    </ul>
                </li>

                <li>Combo chance - <span class="monospace">combo chance: &lt;bonus&gt;</span>
                    <ul>
                        <li>"bonus" must be an integer</li>
                    </ul>
                </li>

                <li>On hit damage - <span class="monospace">damage: &lt;dice&gt; &lt;damage type&gt; &lt;applicable attack types&gt;</span>
                    <ul>
                        <li>"dice" can be any Roll20 dice expression, e.g. "4d10"</li>
                        <li>"damage type" must be one of the following: physical, psychic, healing, fire, water, earth, air, ice, lightning, light, dark</li>
                        <li>"applicable attack type" must be one of the following: physical, psychic, magic, healing, all. The applicable attack type is often based on the item type itself. Damage from a longsword should only be applied to physical attacks. Damage from an orb should only be applied to magic attacks. Damage from armor may apply to all attacks (though "all" is almost never the case).</li>
                    </ul>
                </li>

                <li>Damage multiplier - <span class="monospace">multiplier: &lt;multiplier percent&gt; &lt;damage type&gt; &lt;applicable attack types&gt;</span>
                    <ul>
                        <li>"multiplier percent" is the percentage increase on damage, e.g. 50%. The percent sign is optional.</li>
                        <li>"damage type" must be one of the following: physical, psychic, healing, fire, water, earth, air, ice, lightning, light, dark, all_magic, all</li>
                        <li>"applicable attack type" must be one of the following: physical, psychic, magic, healing, all. The applicable attack type is often based on the item type itself. A multiplier from a longsword should only be applied to physical attacks. A multiplier from an orb should only be applied to magic attacks. A multiplier from armor may apply to all attacks (though "all" is almost never the case).</li>
                    </ul>
                </li>

                <li>On crit damage - <span class="monospace">crit damage: &lt;dice&gt; &lt;damage type&gt; &lt;applicable attack types&gt;</span>
                    <ul>
                        <li>"dice" can be any Roll20 dice expression, e.g. "4d10"</li>
                        <li>"damage type" must be one of the following: physical, psychic, healing, fire, water, earth, air, ice, lightning, light, dark</li>
                        <li>"applicable attack type" must be one of the following: physical, psychic, magic, healing, all. The applicable attack type is often based on the item type itself. Damage from a longsword should only be applied to physical attacks. Damage from an orb should only be applied to magic attacks. Damage from armor may apply to all attacks (though "all" is almost never the case).</li>
                    </ul>
                </li>

                <li>On crit damage multiplier - <span class="monospace">crit multiplier: &lt;multiplier percent&gt; &lt;damage type&gt; &lt;applicable attack types&gt;</span>
                    <ul>
                        <li>"multiplier percent" is the percentage increase on damage, e.g. 50%. The percent sign is optional.</li>
                        <li>"damage type" must be one of the following: physical, psychic, healing, fire, water, earth, air, ice, lightning, light, dark, all_magic, all</li>
                        <li>"applicable attack type" must be one of the following: physical, psychic, magic, healing, all. The applicable attack type is often based on the item type itself. A multiplier from a longsword should only be applied to physical attacks. A multiplier from an orb should only be applied to magic attacks. A multiplier from armor may apply to all attacks (though "all" is almost never the case).</li>
                    </ul>
                </li>

                <li>Crit damage mod - <span class="monospace">crit damage mod: &lt;crit damage percent&gt; &lt;applicable attack types&gt;</span>
                    <ul>
                        <li>"crit damage percent" is the percentage increase on crit damage, e.g. 50%. The percent sign is optional.</li>
                        <li>"applicable attack type" must be one of the following: physical, psychic, magic, healing, all. The applicable attack type is often based on the item type itself. Damage from a longsword should only be applied to physical attacks. Damage from an orb should only be applied to magic attacks. Damage from armor may apply to all attacks (though "all" is almost never the case).</li>
                    </ul>
                </li>

                <li>Stat bonuses - <span class="monospace">&lt;stat name&gt;: &lt;bonus&gt; &lt;applicable roll type&gt;</span>
                    <ul>
                        <li>"stat name" is one of the stats as they appear on the character sheet or in the rulebook</li>
                        <li>"bonus" is the increase on the stat, either a percentage or a normal number</li>
                        <li>"applicable roll type" must be one of the following: physical, psychic, magic, healing, all. For stats, this should almost always be "all". Critical Hit Chance is the only stat where it may vary.</li>
                    </ul>
                    <br>
                    <ul>
                        <li><span class="monospace">health: &lt;bonus&gt; all</span></li>
                        <li><span class="monospace">stamina: &lt;bonus&gt; all</span></li>
                        <li><span class="monospace">mana: &lt;bonus&gt; all</span></li>
                        <li><span class="monospace">health regeneration: &lt;bonus&gt; all</span></li>
                        <li><span class="monospace">stamina regeneration: &lt;bonus&gt; all</span></li>
                        <li><span class="monospace">mana regeneration: &lt;bonus&gt; all</span></li>
                        <li><span class="monospace">movement speed: &lt;bonus&gt; all</span> - "movement speed" can be abbreviated as "mv".</li>
                        <li><span class="monospace">ac: &lt;bonus&gt; all</span></li>
                        <li><span class="monospace">evasion: &lt;bonus&gt; all</span> - "evasion" can be abbreviated as "ev".</li>
                        <li><span class="monospace">magic resist: &lt;bonus&gt; all</span> - This is for <b>general</b> magic resist. See below for element-specific MR. "magic resist" can be abbreviated as "mr".</li>
                        <li><span class="monospace">condition resist: &lt;bonus&gt; all</span> - This is for <b>general</b> condition resist. See below for condition-specific CR. "condition resist" can be abbreviated as "cr".</li>
                        <li><span class="monospace">melee damage: &lt;bonus&gt; all</span></li>
                        <li><span class="monospace">ranged fine damage: &lt;bonus&gt; all</span></li>
                        <li><span class="monospace">magic damage: &lt;bonus&gt; all</span></li>
                        <li><span class="monospace">critical hit chance: &lt;bonus&gt;  &lt;applicable roll type&gt;</span> - Unlike all other stats, applicable roll type is <i>very rarely</i> "all" here. It is normally "physical" or "magic".</li>
                        <li><span class="monospace">commands: &lt;bonus&gt; all</span></li>
                        <li><span class="monospace">languages: &lt;bonus&gt; all</span></li>
                        <li><span class="monospace">item efficient: &lt;bonus&gt; all</span></li>
                        <li><span class="monospace">buff limit: &lt;bonus&gt; all</span></li>
                        <li><span class="monospace">concentration limit: &lt;bonus&gt; all</span></li>
                    </ul>
                </li>

                <li>Element-specific MR - <span class="monospace">&lt;element&gt; mr: &lt;bonus&gt;</span>
                    <ul>
                        <li>"element" is one of the eight elements - fire, water, earth, air, ice, lightning, light, dark</li>
                        <li>"mr" can be expanded to "magic resist", if you prefer</li>
                        <li>"bonus" is the percent MR the item gives, e.g. 50%</li>
                    </ul>
                    <br>
                    <ul>
                        <li><span class="monospace">fire mr: &lt;bonus&gt;</span></li>
                        <li><span class="monospace">water mr: &lt;bonus&gt;</span></li>
                        <li><span class="monospace">earth mr: &lt;bonus&gt;</span></li>
                        <li><span class="monospace">air mr: &lt;bonus&gt;</span></li>
                        <li><span class="monospace">ice mr: &lt;bonus&gt;</span></li>
                        <li><span class="monospace">lightning mr: &lt;bonus&gt;</span></li>
                        <li><span class="monospace">light mr: &lt;bonus&gt;</span></li>
                        <li><span class="monospace">dark mr: &lt;bonus&gt;</span></li>
                    </ul>
                </li>

                <li>Condition-specific Resistance - <span class="monospace">&lt;condition&gt; cr: &lt;bonus&gt;</span>
                    <ul>
                        <li>"condition" is one of the <a href="/#Conditions">conditions</a> listed in the rulebook. Capitalization does not matter. Parenthesis in the condition name do not matter.</li>
                        <li>"cr" can be expanded to "condition resist", if you prefer</li>
                        <li>"bonus" is the bonus you get to CR rolls against this condition, e.g. 20</li>
                    </ul>
                    <br>
                    <ul>
                        <li><span class="monospace">bleeding cr: &lt;bonus&gt;</span></li>
                        <li><span class="monospace">knocked down prone cr: &lt;bonus&gt;</span></li>
                        <li><span class="monospace">petrified cr: &lt;bonus&gt;</span></li>
                        <li><span class="monospace">...</span></li>
                    </ul>
                </li>

                <li>Hidden Stats
                    <ul>
                        <li>There are some stat-like things that items can grant, but they aren't listed as normal stats. This includes things like chance to inflict conditions, accuracy, AC pen, MR pen, and lethality. I call these "hidden stats". The pattern for all of these is generally the same. All supported "hidden stats" are listed below.</li>
                        <li>For all of these, an applicable roll type is required. This must be one of the following: physical, psychic, magic, healing, all. The applicable attack type is often based on the item type itself. Accuracy from a longsword should only be applied to physical attacks. MR pen from an orb should only be applied to magic attacks. Lethality from armor may apply to all attacks.</li>
                        <li>Every single one of these can additionally be prefixed with "crit ", to indicate that the affix should only be applied on crit.</li>
                    </ul>
                    <br>
                    <ul>
                        <li>Accuracy - <span class="monospace">accuracy: &lt;percentage&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Buff strip - <span class="monospace">buff strip: &lt;number of buffs stripped&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Forced movement - <span class="monospace">forced movement: &lt;number of ft of movement&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Lethality - <span class="monospace">lethality: &lt;percentage&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Lifesteal - <span class="monospace">lifesteal: &lt;percentage&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Minion lethality - <span class="monospace">minion lethality: &lt;percentage&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Weapon reach - <span class="monospace">reach: &lt;number of ft of increased reach&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Chance to be unblockable - <span class="monospace">unblockable chance: &lt;percentage chance&gt; &lt;applicable roll type&gt;</span></li>
                    </ul>
                    <br>
                    <ul>
                        <li>Chance to inflict Blinded - <span class="monospace">blinded chance: &lt;percentage chance&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Chance to inflict Burn 20 - <span class="monospace">burn chance: &lt;percentage chance&gt; &lt;applicable roll type&gt;</span> - If you need a value other than "20" for Burn, talk to Ian.</li>
                        <li>Chance to inflict Confused - <span class="monospace">confused chance: &lt;percentage chance&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Chance to inflict Crippled - <span class="monospace">crippled chance: &lt;percentage chance&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Chance to inflict Fear - <span class="monospace">fear chance: &lt;percentage chance&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Chance to inflict Frozen - <span class="monospace">frozen chance: &lt;percentage chance&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Chance to inflict Immobilized - <span class="monospace">immobilized chance: &lt;percentage chance&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Chance to inflict Paralyzed - <span class="monospace">paralyzed chance: &lt;percentage chance&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Chance to inflict Petrified - <span class="monospace">petrified chance: &lt;percentage chance&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Chance to inflict Silenced - <span class="monospace">silenced chance: &lt;percentage chance&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Chance to inflict Slowed - <span class="monospace">slowed chance: &lt;percentage chance&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Chance to inflict Stunned - <span class="monospace">stunned chance: &lt;percentage chance&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Reduce AC - <span class="monospace">reduce ac: &lt;ac reduction&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Reduce CR - <span class="monospace">reduce cr: &lt;cr reduction&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Reduce evasion - <span class="monospace">reduce evasion: &lt;evasion reduction&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Other - If the condition you need isn't listed here, talk to Ian.</li>
                    </ul>
                    <br>
                    <ul>
                        <li>AC penetration - <span class="monospace">ac pen: &lt;amount of AC pen&gt; &lt;applicable roll type&gt;</span></li>
                        <li>General magic penetration - <span class="monospace">general magic pen: &lt;amount of MR pen&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Fire magic penetration - <span class="monospace">fire magic pen: &lt;amount of MR pen&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Water magic penetration - <span class="monospace">water magic pen: &lt;amount of MR pen&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Earth magic penetration - <span class="monospace">earth magic pen: &lt;amount of MR pen&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Air magic penetration - <span class="monospace">air magic pen: &lt;amount of MR pen&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Ice magic penetration - <span class="monospace">ice magic pen: &lt;amount of MR pen&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Lightning magic penetration - <span class="monospace">lightning magic pen: &lt;amount of MR pen&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Light magic penetration - <span class="monospace">light magic pen: &lt;amount of MR pen&gt; &lt;applicable roll type&gt;</span></li>
                        <li>Dark magic penetration - <span class="monospace">dark magic pen: &lt;amount of MR pen&gt; &lt;applicable roll type&gt;</span></li>
                    </ul>
                </li>

                <li>Skill bonuses - <span class="monospace">&lt;skill name&gt;: &lt;bonus&gt;</span>
                    <ul>
                        <li>"skill name" is one of the <a href="/#Skills">skills</a> listed in the rulebook. Capitalization does not matter, but punctuation (namely the colon in skill names) should stay the same.</li>
                        <li>"bonus" is the bonus you get to this skill, e.g. 20</li>
                    </ul>
                    <br>
                    <ul>
                        <li><span class="monospace">Athletics: Balance: &lt;bonus&gt;</span></li>
                        <li><span class="monospace">item use: first aid: &lt;bonus&gt;</span></li>
                        <li><span class="monospace">Weapon mastery: bows: &lt;bonus&gt;</span></li>
                        <li><span class="monospace">...</span></li>
                    </ul>
                </li>

                <li>Miscellaneous on hit effect - <span class="monospace">effect: &lt;effect text&gt; &lt;applicable attack type&gt;</span>
                    <ul>
                        <li>"effect text" can be literally text, including spaces or not. Use this if the affix does not fall into any other category.</li>
                        <li>"applicable attack type" must be one of the following: physical, psychic, magic, healing, all. The applicable attack type is often based on the item type itself. Damage from a longsword should only be applied to physical attacks. Damage from an orb should only be applied to magic attacks. Damage from armor may apply to all attacks (though "all" is almost never the case).</li>
                    </ul>
                </li>

                <li>Miscellaneous on crit effect - <span class="monospace">crit effect: &lt;effect text&gt; &lt;applicable attack type&gt;</span>
                    <ul>
                        <li>"effect text" can be literally text, including spaces or not. Use this if the on-crit affix does not fall into any other category.</li>
                        <li>"applicable attack type" must be one of the following: physical, psychic, magic, healing, all. The applicable attack type is often based on the item type itself. Damage from a longsword should only be applied to physical attacks. Damage from an orb should only be applied to magic attacks. Damage from armor may apply to all attacks (though "all" is almost never the case).</li>
                    </ul>
                </li>
            </ul>
            <br>

            <p>Some examples of items:</p>
            <ul class="monospace">
                <li class="spaced">construct; Angel's Longbow of Accuracy; base: d10 physical DEX; damage: 4d10 light physical; accuracy: 20% physical</li>
                <li class="spaced">construct; Resistant Hat of Dodging; evasion: 10% all; ac: -10% all; evasion: 10% all; mr: 10% all</li>
                <li class="spaced">construct; Name does not matter; crit damage mod: 100% physical; critical hit chance: 50% physical; effect: makes pretty lights</li>
                <li class="spaced">construct; Item Name; crit accuracy: 20% physical; multiplier: 25% ice magic; buff effectiveness: 25%; concentration: 20;</li>
                <li class="spaced">construct; The Item; general magic pen: 20% physical; Athletics: Balance: 20; silenced chance: 35% all; crit lifesteal: 20% all;</li>
            </ul>
            <br>

        </article>

        <article>
            <a id="Class Abilities">
                <h2>Class Abilities</h2>
            </a>
            <p>This section documents how to use each class ability via the character sheet.</p>
            <br>
            <p>Classes and abilities that are “not implemented” will be eventually. For now if you try to use one of these abilities, the API will say it is unknown. If there are no notes for an ability, the API does as the ability describes. There are, however, many abilities that do things the API will not handle. Action economy, for example, is not tracked by the API. For abilities like this, the API will just print the ability’s description. It is on the players to deal with whatever the ability does in these cases.</p>
            <br>
            <a id="Extra">
                <h3>Extra</h3>
            </a>
            <p>Nothing is ever perfect. If there is some damage or multiplier that you need to include when using an ability that isn’t handled by the API, you can use these parameters.</p>
            <ul>
                <li>
                    <span class="monospace">multiplier &lt;multiplier&gt; &lt;damage_type&gt; &lt;source&gt;</span>
                    <ul>
                        <li class="padt"><span class="monospace">multiplier</span> is the percentage increase. You do not need to add 1; use 20% for 20% increased damage.</li>
                        <li><span class="monospace">damage_type</span> must be one of the following: <span class="monospace">physical, psychic, fire, water, earth, air, ice, lightning, light, dark, healing, all_magic, all</span></li>
                        <li>The source is the origin of the multiplier. Items, for example, use source “self”. If the source is another character, use their character’s full name.</li>
                        <li>For example - <span class="monospace">"multiplier 20% air self"</span> - will add 20% increased air damage.</li>
                    </ul>
                </li>
                <li>
                    <span class="monospace">damage &lt;damage_dice&gt; &lt;damage_type&gt;</span>
                    <ul>
                        <li class="padt"><span class="monospace">damage_dice</span> can be any valid Roll20 roll expression, like "5d8" or "10+2d6".</li>
                        <li><span class="monospace">damage_type</span> must be one of the following: <span class="monospace">physical, psychic, fire, water, earth, air, ice, lightning, light, dark, healing</span></li>
                        <li>For example - <span class="monospace">"damage 5d8 air"</span> - will add 5d8 air damage to your attack.</li>
                    </ul>
                </li>
            </ul>
            <div class="row-full"></div>
            <br>
            {classes}
        </article>

        <article>
            <a id="Pure API">
                <h2>Pure Barbs API Usage</h2>
            </a>
            <p>Most of the time, you should be going through your character sheet to do things. If you are looking to make a macro, though, the macro will make API calls directly. For these kinds of purposes, the pure API commands and usages are described here. Fields in &lt;angled brackets&gt; are placeholders, and should be filled out with some real value when making actual API calls. Unless otherwise specified, who you are speaking as in chat is used to determine what character to use to make rolls.</p>
            <br>
            <h3>Initiative</h3>
            <ul>
                <li><span class="monospace">!barbs initiative</span></li>
            </ul>
            <p>Initiative is straightforward.</p>
            <br>
            <h3>Concentration</h3>
            <ul>
                <li><span class="monospace">!barbs concentration</span></li>
            </ul>
            <p>Concentration is straightforward.</p>
            <br>
            <h3>Take Damage</h3>
            <ul>
                <li><span class="monospace">!barbs dmg &lt;physical damage and pen&gt; &lt;psychic damage and pen&gt; &lt;fire damage and pen&gt; &lt;water damage and pen&gt; &lt;earth damage and pen&gt; &lt;air damage and pen&gt; &lt;ice damage and pen&gt; &lt;lightning damage and pen&gt; &lt;light damage and pen&gt; &lt;dark damage and pen&gt;</span></li>
            </ul>
            <p>Each "damage type and pen" field is the damage of that type being taken, optionally followed by a bar | and then the amount of penetration of that type the attack has. For example, "50" indicates you are taking 50 damage with no pen. "50|20" indicates that you are taking 50 damage with 20 AC pen or 20% MR pen, depending on the damage type.</p>
            <br>
            <h3>Condition Resist</h3>
            <ul>
                <li><span class="monospace">!barbs cr &lt;condition&gt;</span></li>
            </ul>
            <p>The "condition" should be one of the <a href="/#Conditions">conditions listed in the rulebook</a>. If you are not resisting a particular condition, this field should be "General".</p>
            <br>
            <h3>Stat</h3>
            <ul>
                <li><span class="monospace">!barbs stat &lt;stat&gt;</span></li>
            </ul>
            <p>The "stat" field should be one of the 20 stats on the "Stats" page of your character sheet. Replace spaces and slashes in the stat's name with underscores. Capitalization does not matter.</p>
            <br>
            <h3>Skills</h3>
            <ul>
                <li><span class="monospace">!barbs skill &lt;skill name&gt; &lt;AP in the skill&gt;</span></li>
            </ul>
            <p>The "skill name" field should be one of the Skills listed in the <a href="/#Skills">rulebook</a>. Spaces in the skill name are fine. Capitalization does not matter. The "AP in the skill" field should be the number of AP you have invested into this skill. This is NOT your rank or bonus (though rank has a 1-1 relationship with AP investment).</p>
            <br>
            <h3>List Effects</h3>
            <ul>
                <li><span class="monospace">!barbs list_effects</span></li>
                <li><span class="monospace">!barbs list_effects &lt;character name&gt;</span></li>
            </ul>
            <p>In the first case, who you are speaking as in chat is used to determine what character to list effects for. Alternatively, as in the latter case, you can give a specific character for whom effects should be listed.</p>
            <br>
            <h3>Remove Effect</h3>
            <ul>
                <li><span class="monospace">!barbs remove_effect &lt;effect name&gt;</span></li>
                <li><span class="monospace">!barbs remove_effect &lt;character name&gt;;&lt;effect name&gt;</span></li>
            </ul>
            <p>In the first case, who you are speaking as in chat is used to determine what character to remove an effect from. Alternatively, as in the latter, case you can give a specific character first, followed by a semicolon, and then the effect you would like removed. The "effect name" field is usually the name of the class ability that generated the effect. Spaces in both the character name and effect name are permitted. Capitalization for the character name and effect name do matter.</p>
            <br>
            <h3>Item Auto-attack</h3>
            <ul>
                <li><span class="monospace">!barbs item &lt;item slot&gt; &lt;item name or construction args&gt;|&lt;attack parameters&gt;</span></li>
            </ul>
            <p>The "item slot" should be <span class="monospace">main_hand</span> or <span class="monospace">offhand</span>. The "item name or construction args" field should follow the rules laid out in the <a href="#Items">Items section</a>. Either give the full name of an item that has been hardcoded into the API, or describe the item as a "construct", followed by its affixes, semicolon-separated. The "attack parameters" field follows the normal <a href="#Parameters">pattern for parameters</a>, just semicolon-separate each parameter.</p>
            <br>
            <h3>Class Abilities</h3>
            <ul>
                <li><span class="monospace">!barbs ability &lt;class name&gt;;&lt;ability name&gt;;&lt;ability parameters&gt;</span></li>
            </ul>
            <p>The "class name" field must be one of the classes defined in the rulebook. The "ability name" field must be one of the abilities defined under that class. Capitalization matters for both. The "ability parameters" field follows the normal <a href="#Parameters">pattern for parameters</a>, just semicolon-separate each parameter.</p>
        </article>
    </section>
</div>
</body>
</html>