html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body, html {
    background-color: #999999;
}

body {
    line-height: 1;
    font-family: "Times New Roman", Times, serif;
}

.monospace {
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
}

section {
    display: block;
}

h1 {
    font-size: 72px;
    padding-bottom: 15px;
}

h2 {
    font-size: 54px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 15px;
}

h3 {
    font-size: 36px;
    padding-bottom: 15px;
}

h4 {
    /* Same as article text, but bold */
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
}

.row-full{
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 2px;
    margin-top: 10px;
    left: 50%;
    color: #FFFFFF;
    background-color: #FFFFFF;
}

#main {
    margin-left: 20%;  /* Same as the width of the sidenav */
}

#pageContent {
    padding-left: 10%;
    padding-right: 10%;
    border: none;
}

article {
    border-bottom: 2px dotted #999;
    padding-bottom: 20px;
    color: #000000;
    font-size: 20px;
}

article p {
    margin-bottom: 8px;
}

/* Image at the top */

#logo-container {
    display: inline-block;
    padding-left: 20%;  /* Same as the width of the sidenav */
}

#logo {
    margin-left: 10%;
    margin-right: 10%;
    vertical-align: middle;
}

img {
    width: 100%;
}


/* lists */

ul li {
    margin-left: 20px;
    padding-bottom: 5px;
}

ul li ul li {
    margin-left: 40px;
}

.spaced {
    padding-bottom: 15px;
}

/* tables */

table, th, td {
    border: 1px solid black;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.padded {
    margin-top: 15px;
    margin-bottom: 15px;
}

th, td {
    padding: 5px;
    vertical-align: middle;
}

td {
    text-align: center;
    vertical-align: middle;
    width: 25%;
}

/* sidebar */

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.1s;
}

.sidenav a {
    display: block;
    font-size: 20px;
    color: #818181;
    text-decoration: none;
    padding: 6px 8px 6px 16px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav-subsection {
    background-color: #111;
    padding-left: 20px;
}

.sidenav-subsection a {
    font-size: 16px;
}

@media screen and (max-width: 750px) {
    /* Shrink text when the screen is very narrow */
    article {
        font-size: 16px;
    }

    .sidenav a {
        font-size: 14px;
        padding: 3px 4px 3px 8px;
    }
    .sidenav-subsection a {
        font-size: 10px;
        padding-left: 10px;
    }
}